/* The original annie/dark is a bit modified version of https://github.com/swaroop3108/dark-dc/ */
/* I have noticed a few small changes but the code is identical according to @CanadaHonk (Btw thanks for the info) */

/* Original theme by swaroop3108 on GitHub */

:root
{
    --background-primary: #141414;
    --background-modifier-selected: #1a1a1a;
    --background-secondary: #111111;
    --background-secondary-alt: #0c0c0c;
    --background-tertiary: #0c0c0c;
    --channeltextarea-background: #242424;
    --background-accent: #000000; /* New Unreads Label */
    --background-message-hover: #101010;
    --background-modifier-hover: #101010;
    --background-modifier-active: #000000; /* Press Button */
    --background-floating: #111111;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-thin-thumb: #202225;
    --activity-card-background: #000000;} /* Unknown */
.input-3r5zZY {background-color: #242424;}
.container-2McqkF {background-color: #000000;}
.resultsGroup-cfY57t {background-color: #111111;} /* Not exact color that was in annie/dark.. needs modifying */
.peopleColumn-1wMU14 {background-color: #141414;
